html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/topography.png");
}

div#over-wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
}

div#form-wrapper {
    display: table-cell;
    vertical-align: middle;
}

form {
    margin: auto;
    background-color: #d2cfcf;
    padding: 20px;
    width: 540px;
    font: 16px sans-serif;
    border: 1px solid #837f7f;
    border-radius: 10px;
}

#rot-container {
    margin: 30px auto auto;
    width: 250px;
    height: 250px;
    padding: 0;
    border-radius: 10000px;
    border: 5px dashed black;
    background-color: #DDD;
    transition: background-color 100ms ease-in;
}

#rotation {
    display: block;
    margin: 60px 0 0;
    background-color: transparent;
    position: relative;
    border: none;
    width: 250px;
    height: 130px;
    padding: 0;
    line-height: 200px;
    font-size: 10em;
    text-align: center;
    color: red;
    font-family: "Abril Fatface", serif;
}

#rotation::placeholder {
    color: #C9C9C9;
}

#rotation:focus {
    color: red;
    outline: none;
}

#rotation:focus::placeholder {
    opacity: 0;
}

label.title {
    display: block;
    margin: 0 auto;
    right: 50%;
    left: 50%;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

textarea {
    font-family: monospace !important;
    position: relative;
    line-height: 32px !important;
    display: inline-block;
    padding: 0 15px;
    resize: none;
    font-size: 1.2em !important;
    margin: 30px 0 10px !important;
    width: 510px;
    background-color: #DDD;
    border: 1px solid #888;
    border-radius: 4px;
    transition: background-color 130ms ease-in;
}

textarea:hover {
    background-color: #F4F4F4;
    border-color: #E8E8E8;
}

textarea::placeholder {
    color: #999;
}

textarea:focus {
    background-color: #F4F4F4;
    border-color: #888 !important;
    outline: none;
}

input[type="submit"] {
    display: block;
    position: relative;
    top: 25px;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    width: 135px;
    margin: 0 auto 25px;
    padding: 0.5em 0.8em;
    letter-spacing: 0.2em;
    background: transparent;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1000px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color, background 100ms ease-in;
}

input[type="submit"]:focus {
    outline: none;
}

input[type="submit"]:hover {
    background: red;
    color: #EEE;
}

p.error {
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    display: block;
    margin: 20px 50px 0;
    color: #EEE;
    background-color: red;
    border-radius: 3px;
}

p#copyright {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-family: monospace;
}


/* ---- MUI CSS ---- */

.bar {
    position: relative;
    display: block;
}

#rot-bar.bar:before, #rot-bar.bar:after {
    content: '';
    height: 4px;
    width: 0;
    bottom: -10px;
    position: absolute;
    background: black;
    transition: 0.2s ease all;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 15px;
    position: absolute;
    background: black;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.mui-form-control:focus {
    border-color: transparent;
}

.mui-form-control:focus~.bar:before {
    width: 50.2%;
}

.mui-form-control:focus~.bar:after {
    width: 49.9%;
}

#rotation.mui-form-control:focus~.bar:before, #rotation.mui-form-control:focus~.bar:after {
    width: 33%;
}
