html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/topography.png");
}

div#over-wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
}

div#form-wrapper {
    display: table-cell;
    vertical-align: middle;
}

form {
    margin: auto;
    background-color: #EEE;
    padding: 20px;
    width: 540px;
    font: 16px sans-serif;
    border-radius: 10px;
}

#rot-container {
    margin: 30px auto auto;
    width: 250px;
    height: 250px;
    padding: 0;
    border-radius: 10000px;
    border: 5px dashed black;
    background-color: #DDD;
    transition: background-color 200ms ease-in;
}

#rotation {
    display: block;
    margin: 60px 0 0;
    background-color: transparent;
    position: relative;
    border: none;
    width: 250px;
    height: 130px;
    padding: 0;
    line-height: 200px;
    font-size: 10em;
    text-align: center;
    color: red;
    font-family: "Abril Fatface", serif;
}

#rotation:focus + #rot-container {
    background-color: #E8E8E8
}

#rotation::placeholder {
    color: #C9C9C9;
}

#rotation:focus {
    color: red;
    outline: none;
}

#rotation:focus::placeholder {
    opacity: 0;
}

label.title {
    display: block;
    margin: 0 auto;
    right: 50%;
    left: 50%;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

textarea {
    font-family: monospace !important;
    position: relative;
    top: 25px;
    line-height: 32px !important;
    display: inline-block;
    padding: 0 15px;
    resize: none;
    font-size: 1.2em !important;
    margin: 30px 0 10px !important;
    width: 510px;
    background-color: #DDD;
    border: 1px solid #E8E8E8;
}

textarea::placeholder {
    color: #BBB;
}

textarea:focus {
    outline: none;
}

input[type = "submit"] {
    display: block;
    position: relative;
    top: 25px;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    width: 135px;
    margin: 10px auto 25px;
    padding: 0.5em 0.8em;
    letter-spacing: 0.2em;
    background: transparent;
    border: 2px solid black;
    border-radius: 1000px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 200ms ease-in;
}

input[type = "submit"]:hover {
    background: #ff5656;
}

/* ---- MUI CSS ---- */

.bar {
  position: relative;
  display: block;
}

#rot-bar.bar:before,
#rot-bar.bar:after {
  content: '';
  height: 4px;
  width: 0;
  bottom: -2px;
  position: absolute;
  background: black; 
  transition: 0.2s ease all;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: -11px;
  position: absolute;
  background: black; 
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%; 
}

.mui-form-control:focus {
  border-color: transparent;
}

.mui-form-control:focus ~ .bar:before,
.mui-form-control:focus ~ .bar:after {
  width: 50%;
}

#rotation.mui-form-control:focus ~ .bar:before,
#rotation.mui-form-control:focus ~ .bar:after {
  width: 33%;
}
