<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Quicksand" rel="stylesheet">
        <link type = "text/css" rel = "stylesheet" href = "static/styles.css"/>
        <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script type = "text/javascript" src = "static/scripts.js"></script>
    </head>
    <body onload = "init();">
        {% block content %}
        {% endblock %}
    <body>
</html>
