{% extends 'base.html' %}

{% block content %}

<div id = "over-wrapper">
<div id = "form-wrapper">
    <form method = 'POST'>
        <label class = "title" for = "rotation">Select Your Rotation (0 - 99):</label>
        <div id = "rot-container">
            <input id = "rotation" class = "mui-form-control" type = "text" name = "rot" placeholder = "0" maxlength = "2" autocomplete = "off"/>
            <span id = "rot-bar" class = "bar"></span>
        </div>
        <textarea onclick="init();" name = "text" id = "text" rows = "1" class = "mui-form-control" placeholder = "Type your message here">{{message}}</textarea>
            <span class = "bar"></span>
        <p class = "error">{{inputerror}}</p>
        <input type = "submit" value = "encrypt"/>
    </form>
</div>
</div>
{% endblock %}
